{% extends 'base.html'%}
{% block title%}
Products
{% endblock %}

{% block body %}
    <h1>Form for recording products</h1>
    <form action="/products" method="POST">
        <input type="text" name="brand" required placeholder="name brand"><br>
        <input type="text" name="price" required placeholder="product's price"><br>
        <input type="text" name="water_resistance" required ><br>
        <input type="text" name="quality" placeholder="quality"><br>
        <input type="submit" value="Sent">
    </form> 
{% endblock %}