{% extends 'base.html'%}
{% block title%}
Services
{% endblock %}

{% block body %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed beatae ullam laborum molestias hic labore quam voluptatum ipsum perspiciatis, similique, excepturi ea soluta doloremque sint officia eveniet dolore iure.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum libero, alias cumque impedit iure consectetur sint nemo ullam voluptates, fuga nulla facere delectus. Consequatur quia eos dicta aperiam iusto explicabo.
{% endblock %}